body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: bisque;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    color: #333;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    background-color: #0074d9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    font-weight: bold;
    margin-top: 10px;
    color: #333;
  }